<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8"/>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-brand"><img asp-append-version="true" alt="logo" src="~/logo.PNG" width="60px" style="margin: 0"/></div>
        <ul>
            <li><a asp-controller="Persons" asp-action="Index">Persons</a></li>
            <li><a asp-controller="Persons" asp-action="Create">Create Person</a></li>
        </ul>
    </div>
    <div class="page-content">
        @RenderBody()
    </div>
</div>
@await RenderSectionAsync("scripts", required:false)
</body>
</html>